<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
    <link href="../static/style.css" rel="stylesheet" />
    <title>Steam</title>
<body>
    <h1>Bienvenue sur le nouveau <a href="https://store.steampowered.com" title="Notre plus grand concurrent">Steam</a></h1>
    <!-- Menu permettant de naviguer entre les nombreuses fonctionnalités -->
        <a href="recherche" class="menu">Chercher des jeux</a>
        <a href="supprimer" class="menu">Bibliothèque</a>
        <a href="ajouter" class="menu">Ajouter un jeu</a>
    </body>
</html>
